body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
    text-decoration: none !important;
  }

  .website_form {
    height: 100vh;
    background-image:url("/image/Journey.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  h1{
    
    font-size: 80px;
    color:white;
  } 
   
  .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  }
  .b1{
  border: 1px solid #654321;
  text-decoration: none;
  color:teal;
  font-size: 20px;
  padding: 10px 20px;
  background-color: palegreen;
  }

  